<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    VirtualMall
  </div>
  <div>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/home'>
      <mat-icon>home</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/carrito' >
        
      <mat-icon> local_grocery_store</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/home'>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar> 
<router-outlet></router-outlet>